@import 'constants';

$module: 'Section';

.#{$module} {
  margin-top: 30px;
  position: relative;

  &__content {
    max-height: 110px;
    overflow: hidden;
    transition: max-height 1s;
    padding-bottom: 40px;

    &--expanded {
      max-height: 1000px;
    }
  }

  &__footer {
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 60%
    );
    cursor: pointer;
    position: absolute;
    bottom: 0em;
    width:100%;
    height: 70px;
    text-align: center;
    color: $gray;
    font-weight: bold;
    font-size: 30px;

    &-icon {
      position: absolute;
      bottom: 0;
      transition: 300ms;
    }

    &:hover {
      .#{$module}__footer-icon {
        color: $gray-light;
        animation-name: bounce-up;
        animation-duration: 600ms;
      }
    }
  }
}

@keyframes bounce-up {
  25% { transform: scale(0.5,0.5) }
  75% { transform: scale(1.2,1.2) }
  100% { transform: scale(1,1) }
}
